In [32]:
import pandas as  pd
import matplotlib.pyplot as plt

In [2]:
patients_df = pd.read_csv("AI DATA MODIFIED.csv",encoding = "ISO-8859-1")

C:\Users\Soham\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
patients_df.shape

(240386, 22)

In [26]:
patients_df.tail()

,PATIENT_VISIT_ID,PATIENT_NAME,GENDER,AGE,STATE_NAME,DISTRICT_NAME,CENTER_SHORT_NAME,SYSTOLIC_BP,DIASTOLIC_BP,PULSE,RESPIRATION_RATE,BODY_TEMPERATURE,BODY_WEIGHT,HEIGHT,SPO2,SYMPTOM_ID,SYMPTOM_DESC,MEDICAL_TEST_NAME,DISEASE_NAME
217549,PV000001133526,Mithun Nayak,Male,5.0,Orissa,GANJAM,Motabadi,NaN,NaN,88.0,27.0,NaN,15.0,92.0,99.0,SYMP00768,NaN,NaN,THE PROBABLE DIAGNOSIS IS SKIN RASH
217550,PV000001133528,Geetanjali Namdev,Female,19.0,Rajasthan,Jhalawar,Chc Bhawani Mandi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACNE,NaN,FUC ACNE
217551,PV000001133532,Sanket Naik,Male,4.1,Orissa,BALANGIR,Chandanbhati,NaN,NaN,NaN,NaN,NaN,18.0,100.0,NaN,NaN,COUGH COLD FEVER,NaN,URTI
217552,PV000001133538,Sonu Kumari,Female,21.0,Rajasthan,Ajmer,Y N Hospital Kishangarh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SYMP04504,NaN,NaN,F/U TINEA CORPORIS
217553,PV000001133542,Rebati Mohanta,Female,42.0,Orissa,MAYURBHANJ,Bachhuripada,120.0,80.0,89.0,21.0,97.0,37.0,153.0,93.0,NaN,BACK AND BODY PAIN,NaN,APD~BACKPAIN~LEUCORRHEA

In [5]:
patients_df.isnull().sum()

PATIENT_VISIT_ID                0
PATIENT_NAME                    0
GENDER                          1
AGE                             0
STATE_NAME                      0
DISTRICT_NAME                   0
CENTER_SHORT_NAME               0
SYSTOLIC_BP                121664
DIASTOLIC_BP               121705
PULSE                       93630
RESPIRATION_RATE           137882
BODY_TEMPERATURE           113989
BODY_WEIGHT                 91176
HEART_RATE                 240386
HEIGHT                     147301
HEAD_CIRCUMFERENCE         240386
UPPER_ARM_CIRCUMFERENCE    240386
SPO2                        99163
SYMPTOM_ID                 112776
SYMPTOM_DESC               127601
MEDICAL_TEST_NAME          214697
DISEASE_NAME                22841
dtype: int64

In [6]:
patients_df.drop(columns=['HEART_RATE','HEAD_CIRCUMFERENCE','UPPER_ARM_CIRCUMFERENCE'],inplace = True)

In [7]:
patients_df.columns

Index(['PATIENT_VISIT_ID', 'PATIENT_NAME', 'GENDER', 'AGE', 'STATE_NAME',
       'DISTRICT_NAME', 'CENTER_SHORT_NAME', 'SYSTOLIC_BP', 'DIASTOLIC_BP',
       'PULSE', 'RESPIRATION_RATE', 'BODY_TEMPERATURE', 'BODY_WEIGHT',
       'HEIGHT', 'SPO2', 'SYMPTOM_ID', 'SYMPTOM_DESC', 'MEDICAL_TEST_NAME',
       'DISEASE_NAME'],
      dtype='object')

In [8]:
patients_df = patients_df[pd.notnull(patients_df['DISEASE_NAME'])]

In [9]:
patients_df.shape

(217545, 19)

In [10]:
patients_df.isnull().sum()

PATIENT_VISIT_ID          0
PATIENT_NAME              0
GENDER                    0
AGE                       0
STATE_NAME                0
DISTRICT_NAME             0
CENTER_SHORT_NAME         0
SYSTOLIC_BP           98834
DIASTOLIC_BP          98875
PULSE                 70801
RESPIRATION_RATE     115052
BODY_TEMPERATURE      91158
BODY_WEIGHT           68346
HEIGHT               124467
SPO2                  76332
SYMPTOM_ID            89951
SYMPTOM_DESC         127586
MEDICAL_TEST_NAME    192822
DISEASE_NAME              0
dtype: int64

In [95]:
patients_df.drop(patients_df[(patients_df.SYSTOLIC_BP>230) | (patients_df.DIASTOLIC_BP>150)].index, inplace = True)
patients_df.drop(patients_df[(patients_df.SYSTOLIC_BP<80) | (patients_df.DIASTOLIC_BP<50)].index,inplace=True)
patients_df.drop(patients_df[(patients_df.BODY_TEMPERATURE<90) | (patients_df.BODY_TEMPERATURE>110)].index,inplace=True)
patients_df.drop(patients_df[patients_df.AGE>100].index,inplace=True)

In [66]:
patients_df.drop(patients_df[patients_df.BODY_WEIGHT>200].index,inplace=True)

In [79]:
patients_df.drop(patients_df[patients_df.HEIGHT>200].index,inplace=True)

In [85]:
patients_df.drop(patients_df[patients_df.PULSE>200].index,inplace=True)

In [99]:
patients_df.describe()

,AGE,SYSTOLIC_BP,DIASTOLIC_BP,PULSE,RESPIRATION_RATE,BODY_TEMPERATURE,BODY_WEIGHT,HEIGHT,SPO2
count,216652.000000,117906.000000,117942.000000,145936.000000,101870.000000,125677.000000,148385.000000,92489.000000,140446.000000
mean,33.554404,118.577061,77.439945,84.285104,20.048523,97.895011,43.639166,143.145245,98.539802
std,20.544526,11.899449,7.942406,12.128416,9.284516,1.232286,18.012909,27.404193,23.235228
min,0.000000,80.000000,50.000000,0.000000,0.000000,90.000000,0.100000,0.000000,0.000000
25%,18.000000,110.000000,70.000000,76.000000,18.000000,97.600000,35.000000,139.000000,98.000000
50%,30.300000,120.000000,80.000000,82.000000,18.000000,98.000000,45.000000,150.000000,99.000000
75%,50.000000,120.000000,80.000000,89.000000,20.000000,98.600000,55.000000,159.000000,99.000000
max,100.000000,230.000000,150.000000,195.000000,986.000000,109.200000,183.000000,200.000000,999.000000

In [94]:
patients_df[patients_df.RESPIRATION_RATE>100].describe()

,AGE,SYSTOLIC_BP,DIASTOLIC_BP,PULSE,RESPIRATION_RATE,BODY_TEMPERATURE,BODY_WEIGHT,HEIGHT,SPO2
count,126.000000,99.000000,99.000000,120.000000,126.000000,113.000000,123.000000,96.000000,118.000000
mean,37.224048,117.454545,74.707071,84.858333,194.753968,97.643363,46.402439,143.802083,102.898305
std,21.379078,14.574420,8.609739,13.152816,136.510846,1.830782,16.691347,23.499438,84.291455
min,0.500000,78.000000,40.000000,62.000000,102.000000,91.000000,4.500000,32.000000,9.000000
25%,21.000000,110.000000,70.000000,76.000000,146.000000,97.100000,40.000000,140.000000,97.000000
50%,35.100000,120.000000,72.000000,84.000000,185.000000,98.000000,50.000000,150.000000,98.000000
75%,55.000000,120.000000,80.000000,88.250000,189.000000,98.600000,57.500000,156.000000,99.000000
max,78.000000,160.000000,100.000000,141.000000,986.000000,102.000000,90.000000,175.000000,999.000000

In [21]:
symptoms = pd.read_csv('SYMPTOM MASTER.csv',encoding = "ISO-8859-1")

In [50]:
symptoms[symptoms.SYMPTOM_ID == 'SYMP00756']

     SYMPTOM_ID SYMPTOM_NAME GENDER
1557  SYMP00756        Fever      C